.Instructions {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;

  &.try-again {
    background-color: #ffc300;
  }

  &.correct {
    background-color: #4fe082;
  }

  &.incorrect {
    background-color: #f84e56;
  }

  .instructions-text {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: #333;
    font-weight: 300;
    font-size: 22px;

    .bold {
      font-weight: 600;
    }
  }
}
