$DarkGray: #333;
$Gray: #b7b7b7;
$Gray2: #828282;
$Gray3: #7f7f7f80;
$LighterGray: #f2f2f2;
$LightGray: #e8e9e8;
$LightBlue: #cceaf2;
$LightBlue2: #e2f5ff;
$Blue: #0d8bcd;
$Blue2: #2e97d3;
$Blue3: #55aedc;
$DarkBlue: #0b2553;
$DarkBlue2: #4b5c7d;
$Red: #f00;
$DarkGreen: #27572e;
$LightGreen: #4fe082;
$Yellow: #ffc300;
$Yellow2: #ffb000;
$LightRed: #f84e56;
$LighterRed: #ffbec1;
$Purple: #4527a0;
$LightPurple: #ebe2fd;
